/* Giant gold fish color palette */
/* http://www.colourlovers.com/palette/92095/Giant_Goldfish */
/* aoi #69D2E7 */ 
/* clean pondwater #A7DBD8 */
/* beach storm #E0E4CC */
/* giant goldfish #F38630 */
/* unreal food pills #FA6900 */
/* Adrift in dreams color palette */
/* http://www.colourlovers.com/palette/580974/Adrift_in_Dreams */
/* sunlit sea #CFF09E */
/* sea foaming #A8DBA8 */
/* sea showing green #79BD9A */
/* there we should sail #3B8686 */
/* adrift in dreams 0B486B */

/* STATIC DESIGN */
* {
	font-family: 'Ubuntu Mono', sans-serif;
	transition: 0.25s;
}

.container-fluid {
	max-width: 768px;
}

hr {
	margin: 20px auto;
	max-width: 568px;
	border-color: #CCCCCC;
}

/* HEADER */
header {
	background-color: #1a1a1a;
	height:40px;
	width:100%;
	position:fixed;
	top:0;
	z-index: 1000;
}
	.header-container {
		min-width: 320px;
		max-width: 1024px;
		margin: 0 auto;
	}
		.name > a{
			color: #CCCCCC;
			text-align:left;
			line-height: 40px;
			font-size: 16px;
			margin-left:10px;
			max-width: 100px;
			float:left;
		}
			.name > a:hover {
				color: #2ec5ee;
				text-decoration: none;
			}
			.name > a:visited {
				color: #CCCCCC;
				text-decoration: none;
			}

/* FOOTER */
footer {
	background-color: #1a1a1a;
	height:40px;
	width:100%;
	position:fixed;
	bottom:0;
	z-index: 1000;
}
	.footer-container {
		min-width: 320px;
		max-width: 1024px;
		margin: 0 auto;
	}
		.contact > a{
			color: #CCCCCC;
			text-align:left;
			line-height: 40px;
			font-size: 16px;
			margin-left:10px;
			float:left;
		}
			.contact > a:hover {
				color: #2ec5ee;
				text-decoration: none;
			}
			.contact > a:visited {
				color: #CCCCCC;
				text-decoration: none;
			}




/* RESPONSIVE WEB DESIGN */
.normal {
	display:block;
}

.mobile {
	display:none;
}

body {
	min-width: 320px;
	min-height: 320px;
	height: 100%;
	width: 100%;
}

.container-fluid {
	margin: 60px auto 60px auto;	
}

.button {
	width: 40px;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
	float: right;
	line-height: 40px;
	font-size: 30px;
	color: #2ec5ee;
}
	/*.button > a:hover {
		color: #ffffff;
	}*/
	.button > a:visited {
		color: #2ec5ee;
	}

.hero-unit {
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
}

/* Section ID's */
#about {
}
	.about-description {
		margin: auto;
		max-width: 400px;
		text-align: left;
	}
	.about-resume {
		margin: auto;
		text-align: center;
		background-color: #cecece;
		border-radius: 5px;
		width: 120px;
		height: 30px;
	}

#education {
}
	.uoft-container {
		text-align: center;
		padding: auto;
	}
		.uoft-image {
			max-width: 150px;
			border-radius: 10px;
			margin-left: 10px;
			padding:auto;
		}

	.uoft-description {
		text-align: right;
	}
		.uoft-text{
			list-style: none;
			display: block;
		}

#resume {
}
	.skill-header{
		margin: 15px 0 15px 0;
		text-align: center;
	}
		.skill-list{
			height:30px;
			text-align: center;
			list-style: none;
		}
			.skill-list:hover{
				color:#ff0000;
			}
		.skill-expand{
			margin:auto;
			padding:0px;
			height:0px;

			width:80%;
			overflow: hidden;
		}
			.progress{
				height: 20px;
				margin: 0px;
				background-color: #1a1a1a !important;
				background-image: linear-gradient(to bottom,#101010,#1a1a1a);
			}
				.progress .bar {
					text-align: left;
					padding-left: 10px;
					line-height: 20px;
					border-radius: 4px;
				}


	.ibm-container {
		overflow: visible;	    
		background-image: url(../img/ibm-db2-cubes.png);
		background-position: center;
	}
	.ibm-container-fade{
		width: inherit;
		height: 100px;
		position: inherit;
		background: -webkit-linear-gradient(left, 
			rgba(121,189,154,1) 0%, 
			rgba(0,0,0,0) 30%,
			rgba(0,0,0,0) 60%,
			rgba(121,189,154,1) 100%
    	);
	}
		.ibm-image {
			width:100px;
			height:100px;
			text-align: right;
		}
		.ibm-duration {
			padding: 20px 0px;
			padding-left: 20px;
			text-align: left;
			color:white;
		}
	.ibm-description {
		text-align: center;
	}
		.ibm-text{
			font-size: 20px;
			line-height: 20px;
			margin-top: 10px;
			height: 40px;
		}

#projects {
}
	.item{
		min-height: 400px;
		font-size: 40px;
		line-height: 400px;
		text-align: center;
	}

#hobbies {
}

/* Mobile mode */
@media (max-width: 480px) {
	.normal {
		display:none;
	}

	.mobile {
		display:block;
	}

	body {
		background-color: #1a1a1a;
		margin:0 0 0 0;
	}

	.container-fluid {
		margin: 40px 0 40px 0;	
	}

	.button {
		margin: 0 2px;
	}
		/*.button > a:hover {
		}*/
		.button > a:visited {
		}

	.container-fluid {
		padding: 0px;
	}

	.hero-unit {
		margin: 10px 0 0 0;
		padding: 20px 20px 20px 20px;
	}

	/* IDs */
	#about {
	}
		.about-description {
		}
		.about-resume {
		}

	#education {
	}
		.uoft-container {
			text-align: center;
	        vertical-align: middle;
			margin: auto;
		}
			.uoft-image {
				max-width: 150px;
				border-radius: 10px;
				margin-left: 10px;
				padding:auto;
			}

		.uoft-description {
			text-align: center;
		}
			.uoft-text{
				list-style: none;
				display: block;
			}

	#resume {
	}
		.skill-header{
			margin: 15px 0 15px 0;
			text-align: center;
		}
			.skill-list{
				height:30px;
				text-align: center;
				list-style: none;
			}
				.skill-list:hover{
					color:#ff0000;
				}
			.skill-expand{
				margin:auto;
				padding:0px;
				height:0px;

				width:80%;
				overflow: hidden;
			}
				.progress{
					height: 20px;
					margin: 0px;
					background-color: #1a1a1a !important;
					background-image: linear-gradient(to bottom,#101010,#1a1a1a);
				}
					.progress .bar {
						text-align: left;
						padding-left: 10px;
						line-height: 20px;
						border-radius: 4px;
					}


		.ibm-container {
			overflow: visible;	    
			background-image: url(../img/ibm-db2-cubes.png);
			background-position: center;
		}
		.ibm-container-fade{
			width: inherit;
			height: 100px;
			position: inherit;
			background: -webkit-linear-gradient(left, 
				rgba(121,189,154,1) 0%, 
				rgba(121,189,154,0.2) 30%,
				rgba(121,189,154,0.2) 60%,
				rgba(121,189,154,1) 100%
	    	);
		}
			.ibm-image {
				width:100px;
				height:100px;
				text-align: right;
			}
			.ibm-duration {
				padding: 20px 0px;
				padding-left: 20px;
				text-align: left;
				color:white;
			}
		.ibm-description {
			text-align: center;
		}
			.ibm-text{
				font-size: 15px;
				line-height: 15px;
				margin-top: 10px;
				height: 30px;
			}

	#projects {
	}

	#hobbies {
	}
}